{% extends "layout.html" %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/styles.css' ) }}"
/>
{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="container-md  p-3 mt-3 bg-light text-dark">
  <img
    src="{{ url_for('static', filename=post.image ) }}"
    alt="banner"
    class="img-fluid rounded my-2"
  />
  <h1>{{ post.title }}</h1>
  <p>{{ post.date }}</p>

  {{ post.html|safe }}

  <div class="mt-5">
    <div id="disqus_thread"></div>
  </div>
  
</div>





{% endblock %}
